{% extends 'core/base.html' %}
{% comment %} {% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gradient-to-r from-indigo-200 to-indigo-400 rounded-xl text-white">
        <h2 class="mb-12 text-2xl text-center">Newest items</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div class="bg-white rounded-xl">
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl" style="width: 370px; height: 300px;">
                        </div>

                        <div class="p-6">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price: {{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gradient-to-r from-indigo-200 to-indigo-400 rounded-xl text-white">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div class="bg-white rounded-xl">
                    <a href="#">
                        <div class="p-6">
                            <h2 class="text-2xl"><a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a></h2>
                            <p class="text-gray-500">{{ category.items.count }} items</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %} {% endcomment %}


{% block title %}Welcome{% endblock %}

{% block content %}
<link href="main.css" rel="stylesheet"  >
<h1 class="text-center" style="font-size: 30px;">Newest Item</h1>
<div class="col-span-3 my-6">
    
    <div class="grid grid-cols-3 gap-3 bar1">
        {% for item in items %}
            <div class="relative border border-gray-500 rounded-xl overflow-hidden">
                <a href="{% url 'item:detail' item.id %}">
                    <div class="relative">
                        <img src="{{ item.image.url }}" class="rounded-t-xl object-contain h-48 w-full" alt="{{ item.name }}">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: ₹{{ item.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


    <div class="mt-4 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-6 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl"><a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a></h2>
                            <p class="text-gray-500">{{ category.items.count }} items</p>
                        </div>
                    </a>
                </div>
        {% endfor %}
            </div>
    </div>
{% endblock %}